.divborder {
  border: 1px solid #cecece;
  width: 190px;
  height: 320px;
  border-radius: 15px;
}
.elementsdiv {
  padding-top: 10px;
}
.ocupado {
 color: red;
}

.disponible {
  color: green;
}
.titulo-modulo{
  color: #000099;
}

.separar {
  padding-right: 10px;
}

.botones{
  padding-bottom: 5px;
}

.centrado{
	padding-top: 100px;
}

.color-hora{
  color: #3e545f;
}